default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-vcs-permalinks
  - repo: https://github.com/PyCQA/flake8
    rev: "5.0.4"
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear==22.9.11",
            "flake8-coding==1.3.2",
            "flake8-comprehensions==3.10.0",
            "flake8-debugger==4.1.2",
            "flake8-deprecated==1.3",
            "flake8-pep3101==1.3.0",
            "flake8-polyfill==1.0.2",
            "flake8-print==5.0.0",
            "flake8-builtins==1.5.3",
            "flake8-tidy-imports==4.8.0",
          ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.38.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.2
    hooks:
      - id: reorder-python-imports
        args: ["--py3-plus"]
